* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Arial", sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, #e0f2fe, #c7d2fe);
  background-repeat: no-repeat;

  min-height: 100vh;

  padding: 80px 0;
}

.container {
  max-width: 1336px;
  width: 100%;
  margin: 0 auto;

  padding: 0 20px;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  border: unset;
  padding: 8px 12px;
  transition: all .5s ease;

  cursor: pointer;

  &:hover,
  &:active {
    opacity: .5;
  }
}

.button--blue {
  background-color: rgba(14, 165, 233, 1);
  color: #fff;
}